html, body {
	margin: 0px;
	overflow: hidden;
	height: 100%;
	font-family: monospace;
	font-size: 14px;
	line-height: 1.42857143;
	overscroll-behavior: none;
  }

.gradient {
	background-image: linear-gradient(gray, black);
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}
